# Xcode
#
# User-specific files
.idea/
xcuserdata/
*.xcuserstate

# Build data
build/
DerivedData/

# SwiftPM
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Workspace
*.xcworkspace

# Archive
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcplayground

# Swift Package Manager
Packages/